body {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   background-image: url(img/background.png);
   background-attachment: fixed;
}

.container {
   display: flex;
   border-radius: 10px;
   height: auto;
   box-shadow: 3px 3px 20px rgba(169, 116, 116, 0.827);
   background-color: rgba(200, 0, 255, 0.07);
   padding-top: 50px;
   padding-right: 50px;
   padding-left: 50px;
   padding-bottom: 50px;
   margin-top: 30px;
   word-wrap: break-word;
}

.form {
   width: 700px;
   height: 30px;
   padding: 5px 25px;
   font-family: sans-serif;
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   border-color: #00ffd0;
   border-radius: 15px;
   border-width: 2px;
}

#judul_lagu {
   margin-top: 20px;
}

#genre {
   width: 752px;
   padding: 5px 20px;
   font-family: sans-serif;
   margin-bottom: 10px;
   margin-top: 5px;
   border-radius: 15px;
   border-color: #00ffd0;
   color: rgb(255, 255, 255);
   cursor: pointer;
   height: 45px;
   font-size: large;
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.button button:active {
   background-color: #00ffd0;
   box-shadow: 0 5px rgb(0, 0, 0);
   transform: translateY(4px);
}

.button button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   margin-right: 30px;
   margin-left: 30px;
   border: 0;
   width: 200px;
   cursor: pointer;
   padding: 15px 0;
   border-radius: 5px;
   font-family: "calibri", sans-serif;
   font-weight: bold;
   color: rgb(0, 0, 0);
   background-color: #00ffd0;
   font-size: 20px;
   box-shadow: 0 9px rgb(64, 61, 61);
}

input {
   height: 15px;
   margin-bottom: 10px;
   padding: 16px 20px;
   border-style: solid;
   border-width: 1px;
   border-color: rgba(44, 45, 54, 0.17);
   border-radius: 5px;
   font-size: 20px;
   line-height: 24px;
}

#sort {
   background-color: #00ffd0;
   border-radius: 5px;
   font-family: sans-serif;
   font-weight: bold;
   height: 40px;
   margin-left: 10px;
   color: rgb(0, 0, 0);
   box-shadow: 0 3px rgb(64, 61, 61);
   cursor: pointer;
}

footer {
   display: flex;
   margin-top: 30px;
   color: white;
   font-size: small;
   justify-content: center;
   font-family: sans-serif;
}

#myTable {
   color: white;
   border-color: blue;
   font-family: sans-serif;
   background-color: rgba(0, 0, 0, 0.796);
   border-radius: 15px;
   border: 2px;
   border-color: aqua;
   padding: 20px;
   min-width: 755px;
   max-width: 755px;
}

#dataTable {
   word-wrap: break-word;
}

.cetakTable th {
   padding-right: 5px;
   background-color: #00ffd0;
   color: black;
   text-align: center;
   font-size: smaller;
}

.cetakTable td {
   padding-top: 20px;
}

#cari {
   margin-top: 50px;
   margin-bottom: 30px;
   width: 620px;
}

a {
   text-decoration: none;
}

.buttonKecil {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 0;
   cursor: pointer;
   border-radius: 5px;
   font-family: "calibri", sans-serif;
   color: rgb(0, 0, 0);
   background-color: #00ffd0;
   box-shadow: 0 3px rgb(64, 61, 61);
   text-decoration: none;
}

.buttonKecil:hover {
   background-color: #00ffd0;
}

.buttonKecil:active {
   background-color: #00ffd0;
   box-shadow: 0 5px rgb(0, 0, 0);
   transform: translateY(4px);
}

#demo {
   border-radius: 10px;
   padding: 7px;
   font-family: sans-serif;
   float: right;
   background-color: rgba(203, 108, 229, 0.2);
   color: white;
   margin-top: 0;
}
.bubble {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: infinite;
   position: absolute;
   bottom: 0;
}

.bubble img {
   width: 40px;
   height: auto;
   animation: bubble 5s linear infinite;
   opacity: 0;
}

@keyframes bubble {
   0% {
       opacity: 0;
       transform: translateY(0);
   }
   30% {
       opacity: 1;
   }
   70% {
       opacity: 1;
   }
   100% {
       opacity: 0;
       transform: translateY(-70vh);
   }
}

.bubble img:nth-child(1) {
   animation-delay: 2s;
}
.bubble img:nth-child(2) {
   animation-delay: 1s;
   width: 25px;
   height: auto;
}
.bubble img:nth-child(3) {
   animation-delay: 3s;
   width: 15px;
}
.bubble img:nth-child(4) {
   animation-delay: 4.5s;
   width: 60px;
}
.bubble img:nth-child(5) {
   animation-delay: 3s;
   width: 55px;
}
.bubble img:nth-child(6) {
   animation-delay: 1s;
}
.bubble img:nth-child(7) {
   animation-delay: 7s;
   width: 60px;
}
.bubble img:nth-child(8) {
   animation-delay: 3.5s;
   width: 20px;
}
.bubble img:nth-child(9) {
   animation-delay: 1s;
}
.bubble img:nth-child(10) {
   animation-delay: 5s;
}
.bubble img:nth-child(11) {
   animation-delay: 7.5s;
   width: 35px;
}
.bubble img:nth-child(12) {
   animation-delay: 6.5s;
}
.bubble img:nth-child(13) {
   animation-delay: 5.5s;
}

@keyframes social {
   0% {
       transform: rotate(0deg);
   }
   20% {
       transform: rotate(45deg);
   }
   50% {
       transform: rotate(-45deg);
   }
   100% {
       transform: rotate(0deg);
   }
}

.social i:hover,
.bubble img:hover {
   animation: social 0.4s forwards;
   scale: 105%;
}